<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>menu</title>
    </head>
    <body>
        <h1>Welcome to Student Manage</h1>
        <p>insert student click here</p>
        <a href="http://127.0.0.1:8000/polls//insert">
            <!---->
            <button>
                click me to insert_page
            </button>
        </a>
        <p>delete student click here</p>
        <a href="http://127.0.0.1:8000/polls//delete">
            <button>
                click me to delete_page
            </button>
        </a>
        <p>alert student click here</p>
        <a href="http://127.0.0.1:8000/polls//alert">
            <button>
                click me to alert_page
            </button>
        </a>
        <p>select student click here</p>
        <a href="http://127.0.0.1:8000/polls//select">
            <button>
                click me to select_page
            </button>
        </a>
    </body>
</html>
